{% extends 'admin/admin.html' %}
{% load static from staticfiles %}

{% block title %}Вход в Административную часть{% endblock %}

{% block content_header %}
<h1 class="page-header">Вход в Административную часть</h1>
{% endblock %}

{% block content %}
       {% for error in form.non_field_errors %}
                <div class="alert alert-danger fade in">{{ error }}</div>
            {% endfor %}

            <form class="form-signin col-lg-4" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{% url 'admin-tickets' %}">
                {{form.email.errors}}
                <div class="form-group">
                    <input type="text" placeholder="Логин" class="form-control" name="username" id="id_username">
                </div>
                {{form.password.errors}}
                <div class="form-group">
                    <input type="password" placeholder="Пароль" class="form-control" name="password" id="id_password">
                </div>

                <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">логин</button>
                </div>
            </form>
{% endblock %}