{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js before-run" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="">
    <meta name="interkassa-verification" content="5b36d147c5f2806f6d62f92374d63c2f" />

  <title>Register | Remark Admin Template</title>

  <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png '%} ">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-extend.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/site.css' %}">

  <!-- <link rel="stylesheet" href="{% static 'skins/red/source.css' %}"> -->

  <link rel="stylesheet" href="{% static 'vendor/animsition/animsition.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/asscrollable/asScrollable.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/switchery/switchery.css'  %}">
  <link rel="stylesheet" href="{% static 'vendor/intro-js/introjs.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/slidepanel/slidePanel.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/flag-icon-css/flag-icon.css' %}">


  <!-- Page -->
  <link rel="stylesheet" href="{% static 'css/pages/register.css' %}">

  <!-- Fonts -->
  <link rel="stylesheet" href="{% static 'fonts/brand-icons/brand-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/font-awesome/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/web-icons/web-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/weather-icons/weather-icons.min.css' %}">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>


  <!--[if lt IE 9]>
    <script src="{% static 'vendor/html5shiv/html5shiv.min.js' %}"></script>
    <![endif]-->

  <!--[if lt IE 10]>
    <script src="{% static 'vendor/media-match/media.match.min.js' %}"></script>
    <script src="{% static 'vendor/respond/respond.min.js' %}"></script>
    <![endif]-->

  <!-- Scripts -->
  <script src="{% static 'vendor/modernizr/modernizr.js' %}"></script>
  <script src="{% static 'vendor/breakpoints/breakpoints.js' %}"></script>
  <script>
    Breakpoints();
  </script>

  <!-- Holderjs -->
  <script src="{% static 'vendor/holderjs/holder.js' %}"></script>
</head>
<body class="page-register layout-full">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


  <!-- Page -->
  <div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
  data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
      <div class="brand">
        <img class="brand-img" src="{% static 'images/logo.png' %}" alt="...">
        <h2 style="text-transform: none;" class="brand-text">Oxiv.ru</h2>
      </div>
      <p>Начните получать клиентов прямой сейчас</p>
      <form id="FormRegisterOne" method="get"  role="form">
        <div class="form-group">{% csrf_token %}
          <label class="sr-only" for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Регистрация</button>
      </form>
      <p>Вы уже зарегистрированы? Пожалуйста  <a href="https://oxiv.ru/accounts/login/">войдите</a></p>

      <footer class="page-copyright">
        <p>WEBSITE BY amazingSurge</p>
        <p>© 2015. All RIGHT RESERVED.</p>
        <div class="social">
          <a href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
          <a href="javascript:void(0)">
            <i class="icon bd-dribbble" aria-hidden="true"></i>
          </a>
        </div>
      </footer>
    </div>
  </div>
  <!-- End Page -->


  <!-- Core  -->
  <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/bootstrap.js' %}"></script>
  <script src="{% static 'vendor/animsition/jquery.animsition.js' %}"></script>
  <script src="{% static 'vendor/asscroll/jquery-asScroll.js' %}"></script>
  <script src="{% static 'vendor/mousewheel/jquery.mousewheel.js' %}"></script>
  <script src="{% static 'vendor/asscrollable/jquery.asScrollable.all.js' %}"></script>
  <script src="{% static 'vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>

  <!-- Plugins -->
  <script src="{% static 'vendor/switchery/switchery.min.js' %}"></script>
  <script src="{% static 'vendor/intro-js/intro.js' %}"></script>
  <script src="{% static 'vendor/screenfull/screenfull.js' %}"></script>
  <script src="{% static 'vendor/slidepanel/jquery-slidePanel.js' %}"></script>

  <script src="{% static 'vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>

  <!-- Scripts -->
  <script src="{% static 'js/core.js' %}"></script>
  <script src="{% static 'js/site.js' %}"></script>

  <script src="{% static 'js/sections/menu.js' %}"></script>
  <script src="{% static 'js/sections/menubar.js' %}"></script>
  <script src="{% static 'js/sections/sidebar.js' %}"></script>
  <script src="{% static 'js/sections/footer.js' %}"></script>

  <script src="{% static 'js/configs/config-colors.js' %}"></script>
  <script src="{% static 'js/configs/config-tour.js' %}"></script>

  <script src="{% static 'js/components/asscrollable.js' %}"></script>
  <script src="{% static 'js/components/animsition.js' %}"></script>
  <script src="{% static 'js/components/slidepanel.js' %}"></script>
  <script src="{% static 'js/components/switchery.js' %}"></script>


  <script src="{% static 'js/components/jquery-placeholder.js' %}"></script>

  <script>
    (function(document, window, $) {
      'use strict';

      var Site = window.Site;
      $(document).ready(function() {
        Site.run();
      });



    $('#FormRegisterOne').submit(function() {
          $.ajax({
  type: "GET",
  url: {% url 'new_registration_user' %},
  data: $(this).serialize(),
  success: function(data) {
			if(data['data']['error']){
                var text = '<div class="alert dark alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>'+data['data']['error']+' </div>';
				$('#inputEmail').before(text);
			}
			if(data['data']['ok']) {
                var yes = '<div class="alert dark alert-success alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>' + data['data']['ok'] + ' </div>';
                $("#FormRegisterOne").html(yes);
			}
		},
     });
          return false;
        });


    })(document, window, jQuery);
  </script>

</body>

</html>