{% load staticfiles %}
{% load thumbnail %}
<form name="ShopForm" method="POST" action="https://money.yandex.ru/eshop.xml" target="_blank">
      <div id="FormBillingFinal">
          <div style="display:none">
              {{ form.shopId }}
          {{ form.scid }}
          {{ form.orderNumber }}
          {{ form.customerNumber }}
          {{ form.sum }}
          {{ form.cps_email }}
          {{ form.cps_phone }}
          {{ form.shopFailURL }}
          {{ form.shopSuccessURL }}
          {{ form.paymentType }}
          </div>
          <div class="content-form">

              <div class="row">
            <div class="col-md-3">
              <div style="border: 1px solid #ededed;" class="widget">
                <div onClick="paymentChoice('AC', this);" class="widget-content padding-25 field-payment bg-white">
                  <div class="counter counter-lg">
                    <div class="counter-number payment-big-icons-bankcards"></div>
                    <div class="counter-label">Банковские карты</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div style="border: 1px solid #ededed;" class="widget">
                <div onClick="paymentChoice('PC', this);" class="widget-content padding-25 active field-payment bg-white">
                  <div class="counter counter-lg">
                    <div class="counter-number payment-big-icons-yandex-dengi"></div>
                    <div class="counter-label">Яндекс деньги</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div style="border: 1px solid #ededed;" class="widget">
                <div onClick="paymentChoice('WM', this);" class="widget-content padding-25 field-payment  bg-white">
                  <div class="counter counter-lg">
                    <div class="counter-number payment-big-icons-webmoney-rub"></div>
                    <div class="counter-label">Webmoney</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div style="border: 1px solid #ededed;" class="widget">
                <div onClick="paymentChoice('GP', this);" class="widget-content padding-25 field-payment bg-white">
                  <div class="counter counter-lg">
                    <div class="counter-number payment-big-icons-terminals"></div>
                    <div class="counter-label">Наличными в терминале</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

               <div class="row">
            <div class="col-md-3">
              <div style="border: 1px solid #ededed;" class="widget">
                <div onClick="paymentChoice('SB', this);" class="widget-content padding-25 field-payment bg-white">
                  <div class="counter counter-lg">
                    <div class="counter-number payment-big-icons-sb-online"></div>
                    <div class="counter-label">Сбербанк онлайн</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div style="border: 1px solid #ededed;" class="widget">
                <div onClick="paymentChoice('AB', this);" class="widget-content padding-25 field-payment bg-white">
                  <div class="counter counter-lg">
                    <div class="counter-number payment-big-icons-alfa-click"></div>
                    <div class="counter-label">Альфа-клик</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div style="border: 1px solid #ededed;" class="widget">
                <div onClick="paymentChoice('PB', this);" class="widget-content padding-25 field-payment  bg-white">
                  <div class="counter counter-lg">
                    <div class="counter-number payment-big-icons-promsvyaz"></div>
                    <div class="counter-label">Промсвязьбанк</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div style="border: 1px solid #ededed;" class="widget">
                <div onClick="paymentChoice('MA', this);" class="widget-content padding-25 field-payment bg-white">
                  <div class="counter counter-lg">
                    <div class="counter-number payment-big-icons-masterpass"></div>
                    <div class="counter-label">Masterpass</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          </div>







          <div class="bottom_form">
              <button type="submit" onClick="ClosePaymentFinal(this);" class="btn btn-block btn-primary padding60">Оплатить 200 руб.</button>
          </div>

      </div>

</form>