 {% load staticfiles %}
 {% load thumbnail %}
<!--
 <div   data-target="#ServEditPositionSidebar"  data-toggle="modal" class="widget btn-profile-edit-adv widget-profile widget-article">

            <div class="widget-left">
              <div class="cover-background" style="background-image: url('{% static 'photos/view-8-960x640.jpg' %}')"></div>
            </div>
            <div class="widget-body">

              <h3 class="widget-title">Ремонт компьютеров - 2000 руб.</h3>
                <p class="widget-metas">
                <a href=""><span class="widget-author">www.yandex.ru</span></a>
              </p>
              <p>Доступные цены. Все цены, размещенные на нашем сайте, действуют. Они не содержат скрытых условий. Поэтому вы будете заблаговременно знать, во сколько обойдутся наши услуги.
<br><br>Бесплатный выезд мастера в течение 1ч. 90% всех проблем с компьютерами возможно решить на месте у клиента.
<br><br>Бесплатая диагностика компьютеров, ноутбуков на дому. Вы сами выбираете удобное время, в которое приедет мастер. Наши специалисты не заставляют себя ждать полдня. Мы ценим ваше время.
              </p>

            </div>
          </div><hr>
    -->

{% include 'core/profile-adv-edit-from.html'  %}
{% for item in products_items %}



 <div data-id="{{ item.id }}" style="border: 1px solid #f0f0f0; box-shadow: 0 1px 1px rgba(0,0,0,0.07);"  data-target="#ServEditPositionSidebar"  data-callback="ServEditPositionSidebar" data-toggle="modal" class="widget action-button btn-profile-edit-adv widget-profile widget-article">
            <div class="widget-left">
              {% thumbnail item.image 'x640' crop="center" as im %}
              <div class="cover-background" style="background-image: url('{{ im.url }}')"></div>
                {% empty %}
              <div class="cover-background" style="background-image: url('{% static 'photos/view-8-960x640.jpg' %}')"></div>
               {% endthumbnail %}
            </div>
            <div class="widget-body">

              <h3 class="widget-title">{{ item.name }} - {% if item.price_to == item.price_from %} от {{ item.price_from }} руб. до {{ item.price_to }} руб.{% else %}{{ item.price_from }} руб.{% endif %}</h3>
                <p class="widget-metas">
                <a href="{{ item.url }}"><span class="widget-author">{{ item.url }}</span></a>
              </p>
              <p>{{ item.description }}
              </p>

            </div>
</div>
{% endfor %}