{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Профиль компании | Oxiv.ru{% endblock %}
{% block description %}Какое та описание{% endblock %}
{% block canonical %}{% endblock %}

{% block style_page %}page-content container-fluid{% endblock %}

{% block page_title %}Профиль компании{% endblock %}
{% block body_class %}page-profile {% endblock %}

{% block content %}

<div class="row ">
        <div class="col-md-3">
          <!-- Page Widget -->
          <div class="widget widget-shadow text-center">
                <button type="button" class="btn btn-icon btn-profile-edit btn-default btn-outline btn-round"><i class="icon wb-pencil" aria-hidden="true"></i></button>
            <form data-submit="FormSidebarCompany" id="FormSidebarCompany" class="ajaxify-form form_sidebar_company" method="POST" action="{% url 'core:user_company_form_sidebar' %}">
                {% csrf_token %}
              <div class="widget-header">
              <div class="widget-header-content">
                <a class="avatar avatar-lg" href="javascript:void(0)">
                  <img src="{% static 'portraits/5.jpg' %}" alt="...">
                </a>
                <div class="form-group form-material profile-form-edit">
                  <input type="text"{% if frmsc.company_name.value %}value='{{ frmsc.company_name.value }}'{% endif %} class="form-control" name="{{ frmsc.company_name.name }}">
                </div>
                <h4 class="profile-form-content active profile-user">
                    {% if frmsc.company_name.value %}{{ frmsc.company_name.value }}{% endif %}
                </h4>
                <!--<p class="profile-job">Art director</p>--><br>
                  <table style="text-align:left" class="table profile-edit">
                     <tbody>
                      <tr>
                        <td class="profile-form-edit">Телефон</td>
                        <td colspan="2">
                            <div class="form-group form-material profile-form-edit">
                  <input type="text" data-plugin="formatter" data-pattern="+7 ([[999]]) [[999]]-[[99]]-[[99]]" {% if frmsc.phone.value %}value='{{ frmsc.phone.value }}'{% endif %} class="form-control" name="{{ frmsc.phone.name }}">
                            </div>
                            <div class="profile-form-content active">
                            <i class="icon ion-ios-telephone" aria-hidden="true"></i>
                                {% if frmsc.phone.value %}{{ frmsc.phone.value }}{% endif %}
                                </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="profile-form-edit">Город</td>
                        <td colspan="2">
                            <div class="form-group form-material profile-form-edit">
                  <input type="text" {% if frmsc.city.value %}value='{{ frmsc.city.value }}'{% endif %} class="form-control" name="{{ frmsc.city.name }}">
                            </div>
                            <div class="profile-form-content active">
                            <i class="icon ion-ios-location" aria-hidden="true"></i>
                                {% if frmsc.city.value %}{{ frmsc.city.value }}{% endif %}
                                </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="profile-form-edit">Адрес</td>
                        <td colspan="2">
                            <div class="form-group form-material profile-form-edit">
                  <input type="text" {% if frmsc.address.value %}value='{{ frmsc.address.value }}'{% endif %} class="form-control" name="{{ frmsc.address.name }}">
                            </div>
                            <div class="profile-form-content active">
                            <i class="icon ion-ios-home" aria-hidden="true"></i>
                                {% if frmsc.address.value %}{{ frmsc.address.value }}{% endif %}
                                </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="profile-form-edit">Режим работы</td>
                        <td colspan="2">
                            <div class="form-group form-material profile-form-edit">
                  <input type="text" {% if frmsc.mode_job.value %}value='{{ frmsc.mode_job.value }}'{% endif %} class="form-control" name="{{ frmsc.mode_job.name }}">
                            </div>
                            <div class="profile-form-content active">
                            <i class="icon ion-android-time" aria-hidden="true"></i>
                                {% if frmsc.mode_job.value %}{{ frmsc.mode_job.value }}{% endif %}
                                </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="profile-form-edit">Сайт</td>
                        <td colspan="2">
                            <div class="form-group form-material profile-form-edit">
                  <input type="url" {% if frmsc.site_url.value %}value='{{ frmsc.site_url.value }}'{% endif %} class="form-control" name="{{ frmsc.site_url.name }}">
                            </div>
                            <div class="profile-form-content active">
                            <i class="icon ion-android-globe" aria-hidden="true"></i>
                                {% if frmsc.site_url.value %}
                                <a href="{{ frmsc.site_url.value }}">{{ frmsc.site_url.value }}</a>
                                {% endif %}
                            </div>
                        </td>
                      </tr>


                      </tbody>
                  </table>
                  <div class="profile-form-edit save_f">
<button type="submit" class="btn btn-block btn-primary">Сохранить</button>
<button type="submit" class="btn btn-outline btn-default">Отменить</button>
                      <br></div>
                <!--<div class="profile-social">
                  <a class="icon bd-twitter" href="javascript:void(0)"></a>
                  <a class="icon bd-facebook" href="javascript:void(0)"></a>
                  <a class="icon bd-dribbble" href="javascript:void(0)"></a>
                  <a class="icon bd-github" href="javascript:void(0)"></a>
                </div>
                <button type="button" class="btn btn-primary">Follow</button>-->
              </div>
            </div>
            <div class="widget-footer">
              <div class="row no-space">
                <div class="profile-social profile-form">
                    <a href="" title="Twitter"><i  class="icon bd-twitter" aria-hidden="true"></i></a>
                    <a href="" title="Facebook"><i class="icon bd-facebook" aria-hidden="true"></i></a>
                    <a href="" title="Instagram"><i class="icon bd-instagram" aria-hidden="true"></i></a>
                    <a href="" title="Вконтакте"><i class="icon bd-vk" aria-hidden="true"></i></a>
                    <a href="" title="Youtube"><i class="icon bd-youtube" aria-hidden="true"></i></a>
                </div>
              </div>
            </div></form>
          </div>
          <!-- End Page Widget -->
        </div>

        <div class="col-md-9">
          <!-- Panel -->
          <div class="panel" style="background-color: #fafafa; box-shadow: 0 1px 2px rgba(0,0,0,0.15);">
            <div class="panel-body nav-tabs-animate">
              <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
                <li class="active" role="presentation"><a data-toggle="tab" href="#activities" aria-controls="activities" role="tab">Товары/услуги </a></li>
                <li role="presentation"><a data-toggle="tab" href="#profile" aria-controls="profile" role="tab">Акции</a></li>
                <li role="presentation"><a data-toggle="tab" href="#messages" aria-controls="messages" role="tab">Прочее</a></li>
              </ul>

              <div class="tab-content" style="overflow: hidden;">
                <div class="tab-pane active  " id="activities" role="tabpanel">{# animation-slide-left #}
                    <div class="profile-add-adv">
                        <button type="submit" data-target="#ServAddPositionSidebar" data-toggle="modal" class="btn btn-outline btn-primary"><i class="icon wb-plus" aria-hidden="true"></i> Добавить</button>
                        <button type="submit" style="    min-width: 210px;" class="btn btn-outline btn-default"><i class="icon ion-ios-cloud-upload-outline" aria-hidden="true"></i> Загрузить прайс-лист</button>
                    </div>
                    {% include 'core/profile-adv-add-from.html' %}


                    {% include 'core/profile-products.html' %}


                  <a class="btn btn-block btn-default profile-readMore" href="javascript:void(0)" role="button">Показать еще</a>
                </div>

                <div class="tab-pane" id="profile" role="tabpanel">
                    <div class="profile-add-adv">
                        <button type="submit" data-target="#ServAddPositionSidebar" data-toggle="modal" class="btn btn-outline btn-primary"><i class="icon wb-plus" aria-hidden="true"></i> Добавить</button>
                    </div>{% include 'core/profile-adv-add-from.html' %}
                   {%  include 'core/profile-sale.html' %}

                </div>

                <div class="tab-pane " id="messages" role="tabpanel">
                  {% include 'core/profile-other.html' %}
                </div>
              </div>
            </div>
          </div>
          <!-- End Panel -->
        </div>
      </div>

{% endblock %}
{% block script_bottom %}
<script>
$(document).ready(function() {

  $('#inputTextTitle').keyup(function(){
      var val = $(this).val();
      $('.inputTextTitle').html(val);
  });
  $('#inputTextCost').keyup(function(){
      var val = $(this).val();
      $('.inputTextCost').html(val + ' руб.');
  });

  $('[name="price_from"]').keyup(function(){
      var val = $(this).val();
      $('[name="price_to"]').removeClass('empty').val(val);
  });
  $('#FormPopupAddCompany').find('[name="name"]').keyup(function(){
      var val = $(this).val();
      refresh();
      $('.serv-edit-sidebar .inputTextTitle').html(val);
  });
  $('#FormPopupAddCompany').find('[name="price_from"]').keyup(function(){
      var val = $(this).val();
      refresh();
      $('.serv-edit-sidebar .inputTextFrom').html(' - от '+ val + ' руб.');
      $('.serv-edit-sidebar .inputTextTo').html('до ' +val + ' руб.');
  });
  $('#FormPopupAddCompany').find('[name="price_to"]').keyup(function(){
      var val = $(this).val();
      refresh();
      $('.serv-edit-sidebar .inputTextTo').html('до ' +val + ' руб.');
  });

  var refresh = function (){
      var val1 = $($('.serv-edit-sidebar').find('[name="name"]')).val();
      var val2 = $($('.serv-edit-sidebar').find('[name="price_from"]')).val();
      var val3 = $($('.serv-edit-sidebar').find('[name="price_to"]')).val();
      var total = val1 + val2;
      var total2 = val2 + val3;
      console.log(val1, val2);
      if(total){$('.serv-edit-sidebar .title-popup').show();} else{$('.serv-edit-sidebar .title-popup').hide();}
      if(!total2){$('.inputTextFrom').html(' ');$('.inputTextTo').html(' ');}
  };
  refresh()

});
</script>
{% endblock %}