{% load staticfiles %}
{% load thumbnail %}

 <div data-id="{{ item.id }}" style="border: 1px solid #f0f0f0; box-shadow: 0 1px 1px rgba(0,0,0,0.07);"  data-target="#ServEditPositionSidebar"  data-callback="ServEditPositionSidebar" data-toggle="modal" class="widget action-button btn-profile-edit-adv widget-profile widget-article">
            <div class="widget-left">
              {% thumbnail item.image 'x640' crop="center" as im %}
              <div class="cover-background" style="background-image: url('{{ im.url }}')"></div>
                {% empty %}
              <div class="cover-background" style="background-image: url('{% static 'photos/view-8-960x640.jpg' %}')"></div>
               {% endthumbnail %}
            </div>
            <div class="widget-body">

              <h3 class="widget-title">{{ item.name }} - {% if item.price_to == item.price_from %} от {{ item.price_from }} руб. до {{ item.price_to }} руб.{% else %}{{ item.price_from }} руб.{% endif %}</h3>
                <p class="widget-metas">
                    {% if item.url %}
                <a href="{{ item.url }}"><span class="widget-author">{{ item.url }}</span></a>
                    {% endif %}
              </p>
              <p>
                  {{ item.description }}
              </p>

            </div>
          </div>