{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Настройки | Oxiv.ru{% endblock %}
{% block description %}Какое та описание{% endblock %}
{% block canonical %}{% endblock %}

{% block style_page %}page-content container-fluid{% endblock %}

{% block page_title %}Настройки{% endblock %}

{% block content %}

<div class="panel">
   <div class="panel-body">

       <div class="nav-tabs-horizontal">

            <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
              <li {% if active == 'bids' %}class="active"{% endif %} role="presentation"><a data-toggle="tab" href="#all_contacts" aria-controls="all_contacts" role="tab" >Таргетинг</a></li>
              <li {% if active == 'status' %}class="active"{% endif %} role="presentation" ><a data-toggle="tab" href="#my_contacts" aria-controls="my_contacts" role="tab" >Статусы</a></li>
              <li {% if active == 'noti' %}class="active"{% endif %} role="presentation" ><a data-toggle="tab" href="#google_contacts" aria-controls="google_contacts" role="tab" >Уведомления</a></li>
              <li class="dropdown" role="presentation" style="display: none;">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                  <span class="caret"></span>Contacts </a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><a data-toggle="tab" href="#all_contacts" aria-controls="all_contacts" role="tab">All Contacts</a></li>
                  <li class="" role="presentation"><a data-toggle="tab" href="#my_contacts" aria-controls="my_contacts" role="tab">My Contacts</a></li>
                  <li role="presentation"><a data-toggle="tab" href="#google_contacts" aria-controls="google_contacts" role="tab">Google Contacts</a></li>
                </ul>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane animation-fade {% if active == 'bids' %}active{% endif %}" id="all_contacts" role="tabpanel">{% include 'core/settings-tags.html' %}
              </div>

              <div class="tab-pane animation-fade {% if active == 'status' %}active{% endif %}" id="my_contacts" role="tabpanel">{% include 'core/settings-status.html' %}
              </div>

              <div class="tab-pane animation-fade {% if active == 'noti' %}active{% endif %}" id="google_contacts" role="tabpanel">
               {% include 'core/settings-noti.html' %}
              </div>
            </div>
          </div>

   </div>
</div>

{% endblock %}