{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Статистика | Oxiv.ru{% endblock %}
{% block description %}Какое та описание{% endblock %}
{% block canonical %}{% endblock %}


{% block style_page %}page-content container-fluid{% endblock %}

{% block page_title %}Статистика{% endblock %}
{% block body_class %}page-profile {% endblock %}


{% block content %}
<div class="row" data-plugin="matchHeight" data-by-row="true">

<div class="col-xlg-3 col-lg-3 col-sm-12">

          <!-- CHART ONE-->
          <div class="widget widget-shadow" id="chartTimelineTwo">
            <div class="widget-content height-full">
              <div style="min-height: 115px" class="padding-30">
                <div class="row">
                    <div class="counter text-center">
                      <div class="counter-label blue-grey-700">Показ рекламы</div>
                      <div class="counter-number-group">
                        <span class="counter-number-related green-600">Запущен</span>
                      </div>
                    </div>
                </div>
              </div>


              <div class="widget-table-bottom" style="
    display: table;
    vertical-align: bottom;
    height: calc(100% - 109px);
    width: 100%
">
                  <div class="ct-chart height-200" style="
    vertical-align: bottom;
    display: table-cell;
">
                  </div>
              </div>
            </div>
          </div>
   </div>


<div class="col-xlg-3 col-lg-3 col-sm-12">
          <!-- CHART TWO-->
          <div class="widget widget-shadow" id="chartPie">
            <div class="widget-content padding-30 height-full">
              <div class="font-size-20 text-center">
                Заявки
              </div>

              <div class="pie-progress pie-progress-auto ct-chart height-250">
                  <div class="pie-progress-number">952</div>
                  <div class="pie-progress-label">Всего</div>
              </div>
              <div class="row no-space margin-top-40">
                <div class="col-xs-4" style="margin-right: 30%;">
                  <div class="counter">
                    <div class="counter-number-group font-size-14">
                      <span class="counter-number-related">
                        <span class="icon wb-medium-point purple-600"></span>
                      </span>
                      <span class="counter-number font-size-24">30%</span>
                    </div>
                    <div class="counter-label ">Новые</div>
                  </div>
                  <div class="counter">
                    <div class="counter-number-group font-size-14">
                      <span class="counter-number-related">
                        <span class="icon wb-medium-point red-600"></span>
                      </span>
                      <span class="counter-number font-size-24">15%</span>
                    </div>
                    <div class="counter-label">Продажи</div>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="counter text-center">
                    <div class="counter-number-group font-size-14">
                      <span class="counter-number-related">
                        <span class="icon wb-medium-point blue-600"></span>
                      </span>
                      <span class="counter-number font-size-24">45%</span>
                    </div>
                    <div class="counter-label">В работе</div>
                  </div>
                  <div class="counter text-center">
                    <div class="counter-number-group font-size-14">
                      <span class="counter-number-related">
                        <span class="icon wb-medium-point green-600"></span>
                      </span>
                      <span class="counter-number font-size-24">10%</span>
                    </div>
                    <div class="counter-label">Отказные</div>
                  </div>
                </div>
              </div>
            </div>
      </div>
</div>

<!--chart three and five-->
<div class="col-xlg-3 col-lg-3 col-sm-12" >
          <div class="row">
            <div class="col-lg-12 col-sm-6">
             <!-- CHART THREE-->
                <div class="widget widget-shadow" id="chartBarSimple">
                <div class="widget-content padding-30">
                  <div class="counter text-left">
                    <span class="counter-number">346 500 руб.</span>
                    <div class="counter-label margin-bottom-20">Выручка</div>
                  </div>
                  <div class="ct-chart height-100">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12 col-sm-6">
              <div class="widget widget-shadow" >
               <div class="widget-content padding-30">
                   <div class="font-size-20 text-left">Среднее время обработки заявок</div>
                 <div class="gauge" data-plugin="gauge" data-value="59" data-max-value="120">
                    <div class="gauge-label">59</div><div class="gauge-label-minute"> мин</div>
                    <canvas width="133" height="99" style="width: 200px; height: 150px;"></canvas>
                  </div>
               </div>
              </div>
            </div>
          </div>
</div>
<!--chart four and six-->
<div class="col-xlg-3 col-lg-3 col-sm-12" >
          <div class="row">
            <div class="col-lg-12 col-sm-6">
             <!-- CHART FOUR-->
                <div class="widget widget-shadow" id="chartLineareaSimple">
                <div class="widget-content padding-30">
                  <div class="counter text-left">
                    <span class="counter-number">5 200 руб.</span>
                    <div class="counter-label margin-bottom-20">Средний чек</div>
                  </div>
                  <div class="ct-chart height-100">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12 col-sm-6">
              <!-- CHART SIX-->
              <div class="widget widget-shadow" >
               <div class="widget-content padding-30">
                   <div class="font-size-20 text-left">Конверсия из заявок в продажи</div>
                 <div class="pie-progress" data-plugin="pieProgress" data-barcolor="#89bceb" data-size="100" data-barsize="6" data-goal="7" aria-valuenow="7" role="progressbar">
                    <div class="pie-progress-number">7%</div>

                 </div>
               </div>
              </div>
            </div>
          </div>
</div>

<!-- bottom stats blue-->
<div class="col-xlg-3 col-lg-3 col-sm-12">
     <div class="widget widget-shadow" id="chartLinePie">
            <div class="widget-content">
              <div class="bg-blue-600 white padding-30">
                <div class="font-size-20 clearfix">
                  Новые заявки
                  <span class="pull-right">
                    <i class="icon wb-triangle-up" aria-hidden="true"></i> 260
                  </span>
                </div>
                <div class="font-size-14 red-200 clearfix">
                  2015.1.20
                  <span class="pull-right">+12.5(2.8%)</span>
                </div>
                <div class="ct-chart chart-line height-100">
                </div>
              </div>
              <div class="padding-30">
                <div class="row no-space">
                  <div class="col-xs-7">
                    <p>
                      <span class="icon wb-medium-point cyan-600 margin-right-5"></span>35% Dietary intake</p>
                    <p class="margin-bottom-20">
                      <span class="icon wb-medium-point red-600 margin-right-5"></span>65% Motion capture</p>
                    <p>TOTAL POWER</p>
                    <p class="font-size-20 margin-bottom-0" style="line-height:1;">4200</p>
                  </div>
                  <div class="col-xs-5">
                    <div class="ct-chart chart-pie" style="height: 129px;">
                      <div class="vertical-align text-center" style="height:100%; width:100%; position:absolute; left:0; top:0;">
                        <div class="font-size-20  vertical-align-middle" style="line-height:1.1 ">
                          <div>3600</div>
                          <div>Total</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

</div>
<!-- bottom stats orange-->
<div class="col-xlg-3 col-lg-3 col-sm-12">
     <div class="widget widget-shadow" id="chartBarPie">
            <div class="widget-content">
              <div class="bg-orange-600 white padding-30">
                <div class="font-size-20 clearfix">
                  Заявки в работе
                  <span class="pull-right">
                    <i class="icon wb-triangle-up" aria-hidden="true"></i> 720
                  </span>
                </div>
                <div class="font-size-14 blue-200 clearfix">
                  2015.1.20
                  <span class="pull-right">+120.5(5.0%)</span>
                </div>
                <div class="ct-chart chart-bar height-100">
                </div>
              </div>
              <div class="padding-30">
                <div class="row no-space">
                  <div class="col-xs-7">
                    <p>
                      <span class="icon wb-medium-point purple-600 margin-right-5"></span>70% Dietary intake</p>
                    <p class="margin-bottom-20">
                      <span class="icon wb-medium-point blue-600 margin-right-5"></span>30% Motion capture</p>
                    <p>TOTAL POWER</p>
                    <p class="font-size-20 margin-bottom-0" style="line-height:1;">6200</p>
                  </div>
                  <div class="col-xs-5">
                    <div class="ct-chart chart-pie" style="height: 129px;">
                      <div class="vertical-align text-center" style="height:100%; width:100%; position:absolute; left:0; top:0;">
                        <div class="font-size-20  vertical-align-middle" style="line-height:1.1 ">
                          <div>4400</div>
                          <div>Total</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

</div>
<!-- bottom stats red-->
<div class="col-xlg-3 col-lg-3 col-sm-12">
     <div class="widget widget-shadow" id="chartLinePie">
            <div class="widget-content">
              <div class="bg-red-600 white padding-30">
                <div class="font-size-20 clearfix">
                  Отказные заявки
                  <span class="pull-right">
                    <i class="icon wb-triangle-up" aria-hidden="true"></i> 260
                  </span>
                </div>
                <div class="font-size-14 red-200 clearfix">
                  2015.1.20
                  <span class="pull-right">+12.5(2.8%)</span>
                </div>
                <div class="ct-chart chart-line height-100">
                </div>
              </div>
              <div class="padding-30">
                <div class="row no-space">
                  <div class="col-xs-7">
                    <p>
                      <span class="icon wb-medium-point cyan-600 margin-right-5"></span>35% Dietary intake</p>
                    <p class="margin-bottom-20">
                      <span class="icon wb-medium-point red-600 margin-right-5"></span>65% Motion capture</p>
                    <p>TOTAL POWER</p>
                    <p class="font-size-20 margin-bottom-0" style="line-height:1;">4200</p>
                  </div>
                  <div class="col-xs-5">
                    <div class="ct-chart chart-pie" style="height: 129px;">
                      <div class="vertical-align text-center" style="height:100%; width:100%; position:absolute; left:0; top:0;">
                        <div class="font-size-20  vertical-align-middle" style="line-height:1.1 ">
                          <div>3600</div>
                          <div>Total</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

</div>
<!-- bottom stats green-->
<div class="col-xlg-3 col-lg-3 col-sm-12">
     <div class="widget widget-shadow" id="chartBarPie">
            <div class="widget-content">
              <div class="bg-green-600 white padding-30">
                <div class="font-size-20 clearfix">
                  Успешные сделки
                  <span class="pull-right">
                    <i class="icon wb-triangle-up" aria-hidden="true"></i> 720
                  </span>
                </div>
                <div class="font-size-14 blue-200 clearfix">
                  2015.1.20
                  <span class="pull-right">+120.5(5.0%)</span>
                </div>
                <div class="ct-chart chart-bar height-100">
                </div>
              </div>
              <div class="padding-30">
                <div class="row no-space">
                  <div class="col-xs-7">
                    <p>
                      <span class="icon wb-medium-point purple-600 margin-right-5"></span>70% Dietary intake</p>
                    <p class="margin-bottom-20">
                      <span class="icon wb-medium-point blue-600 margin-right-5"></span>30% Motion capture</p>
                    <p>TOTAL POWER</p>
                    <p class="font-size-20 margin-bottom-0" style="line-height:1;">6200</p>
                  </div>
                  <div class="col-xs-5">
                    <div class="ct-chart chart-pie" style="height: 129px;">
                      <div class="vertical-align text-center" style="height:100%; width:100%; position:absolute; left:0; top:0;">
                        <div class="font-size-20  vertical-align-middle" style="line-height:1.1 ">
                          <div>4400</div>
                          <div>Total</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

</div>


</div>
{% endblock %}