{% extends 'mailchimp/base.html' %}
{% block content %}
<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); text-align: center; background-color: rgb(255, 255, 255);"><span style="font-family:verdana,geneva,sans-serif;"><strong>Здравствуйте {% block users %}{{ users }}{% endblock %}!</strong></span></div>

<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); text-align: center; background-color: rgb(255, 255, 255);">&nbsp;</div>

<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); background-color: rgb(255, 255, 255);">Спасибо за Ваше желание участвовать в проекте PropForex.co</div>

<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); text-align: center; background-color: rgb(255, 255, 255);">
<p style="text-align: left;"><strong>Вы приобрели билет:</strong><br />
Номинал: <strong>${{ ticket.ticket.value }}</strong><br />
Дата старта торговли: <strong>{{ ticket.time_start|date:"j/n/Y" }}</strong><br />
Стартовая сумма: <strong>${{ ticket.ticket.amount }}</strong><br />
Счет брокера: <strong>{% if ticket.invoice %}{{ ticket.invoice }}{% endif %}</strong><br />
Пароль: <strong> {% if ticket.password %}{{ ticket.password }}{% endif %}</strong><br />
Сервер: <strong>{% if ticket.server %}{{ ticket.server }}{% endif %}</strong></p>

<p style="text-align: left;"><span style="color:red;">Внимание!</span> Отмечаем, что начинать торговлю нужно в указанную дату старта - {{ ticket.time_start|date:"j/n/Y" }}</p>

<p style="text-align: left;">Данные для доступа к счету доступны также в <a href="http://propforex.co/cabinet/tickets/" target="_blank">личном кабинете</a></p>
</div>
{% endblock %}