<header class="slidePanel-header overlay" style="background-image: url('/static/photos/placeholder.png');')">
  <div class="overlay-panel overlay-background vertical-align">
    <div class="slidePanel-actions">
      <div class="btn-group">
        <button type="button" class="btn btn-pure btn-inverse icon wb-folder" aria-hidden="true"></button>
        <button type="button" class="btn btn-pure btn-inverse icon wb-trash" aria-hidden="true"></button>
        <button type="button" class="btn btn-pure btn-inverse slidePanel-close icon wb-close"
        aria-hidden="true"></button>
      </div>
    </div>
    <div class="vertical-align-middle">
      <a class="avatar" href="javascript:void(0)">
        <img src="/static/portraits/2.jpg" alt="...">
      </a>
      <h3 class="name">Seevisual</h3>
      <div class="tags">
        <button type="button" class="btn btn-outline btn-inverse">Desginer</button>
        <button type="button" class="btn btn-outline btn-inverse">UI</button>
        <button type="button" class="btn btn-outline btn-inverse">Rocker</button>
      </div>
    </div>
    <button type="button" class="edit btn btn-success btn-floating">
      <i class="icon wb-pencil" aria-hidden="true"></i>
    </button>
  </div>
</header>
<div class="slidePanel-inner">
  <table class="user-info">
    <tbody>
      <tr>
        <td class="info-label">Email:</td>
        <td>mazhesee@gmail.com</td>
      </tr>
      <tr>
        <td class="info-label">Phone:</td>
        <td>13581729789</td>
      </tr>
      <tr>
        <td class="info-label">Address:</td>
        <td>Fuzhou</td>
      </tr>
      <tr>
        <td class="info-label">Birthday:</td>
        <td>1990/2/15</td>
      </tr>
      <tr>
        <td class="info-label">URL:</td>
        <td>http://amazingSurge.com</td>
      </tr>
    </tbody>
  </table>
</div>