{% load staticfiles %}
<!-- Modal -->
<div class="modal fade sidebar-right-form serv-edit-sidebar" id="AdmLeadsEditFrom" aria-hidden="true" aria-labelledby="examplePositionSidebar" role="dialog" tabindex="-1" >
     <div  class="modal-dialog profile-adv modal-sidebar modal-sm" >
     <div style="height: 8%;min-height: 70px;" class="widget-header height-auto bg-blue-600 vertical-align padding-vertical-20 padding-horizontal-25">
              <blockquote style="margin-bottom: 0px;border-left:none;padding: initial;" class=" vertical-align-middle white font-size-20 title-popup"><span class="inputTextTitle">Заявка № 38997 от 25.08.2015</span></blockquote>
     </div>




<div class="modal-content">
     <a style="display: block"  type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="icon ion-ios-close-outline" aria-hidden="true"></i>
     </a>
     <div class="modal-body">
         <div class="sidebar-block-status crm-list-stage-bar">
             <span class="crm-list-stage-bar-status-title">Успешная сделка</span>
             <table class="crm-list-stage-bar-table">
                 <tbody>
                 <tr>
                     <td class="crm-list-stage-bar-part crm-list-stage-green">
                         <div data-toggle="tooltip" data-placement="bottom" data-original-title="Новая заявка" title="" class="crm-list-stage-bar-block  crm-stage-new">
                             <div class="crm-list-stage-bar-btn">

                             </div>
                         </div>
                     </td>
                     <td class="crm-list-stage-bar-part crm-list-stage-green">
                         <div data-toggle="tooltip" data-placement="bottom" data-original-title="В работе" title="" class="crm-list-stage-bar-block  crm-stage-8">
                             <div class="crm-list-stage-bar-btn">

                             </div>
                         </div>
                     </td>
                     <td class="crm-list-stage-bar-part crm-list-stage-green">
                         <div data-toggle="tooltip" data-placement="bottom" data-original-title="Отказ" title="" class="crm-list-stage-bar-block  crm-stage-9">
                             <div class="crm-list-stage-bar-btn">

                             </div>
                         </div>
                     </td>
                     <td class="crm-list-stage-bar-part crm-list-stage-green">
                         <div data-toggle="tooltip" data-placement="bottom" data-original-title="Успешная сделка" title="" class="crm-list-stage-bar-block  crm-stage-10">
                             <div class="crm-list-stage-bar-btn">

                             </div>
                         </div>
                     </td>
                 </tr>
                 </tbody>
             </table>
         </div>

         <div class="oxiv-group">
             <p style="text-align: center;font-size: 26px;    font-family: 'Roboto'!important;"><span>Публичные данные</span></p>
             <div class="col-sm-6">
          <div class="form-group">
                  <input type="text" class="form-control input input-lg" placeholder="Имя">
          </div>
          <div class="form-group">
                  <input type="text" class="form-control input input-lg" placeholder="Телефон">
          </div>
          <div class="form-group">
                  <input type="text" class="form-control input input-lg" placeholder="Город">
          </div>
              </div>
             <div class="col-sm-6">
          <div class="form-group">
                 <select class="input" name="widget_5" data-label="Тематика*">
                     <option value=""> Тематика </option>
                     <option value="Автосервис"> Автосервис </option>
                     <option value="Страхование"> Страхование </option>
                     <option value="Строительство"> Строительство </option>
                 </select>
          </div>
          <div class="form-group">
                 <textarea class="input" name="widget_6" style="min-height: 110px;" required="" placeholder="Дополнительно"></textarea>
          </div>
              </div>

             <p style="text-align: center;font-size: 26px;    font-family: 'Roboto'!important;"><span>Скрытые данные</span></p>
             <div class="col-sm-6">
          <div class="form-group">
                  <select class="input" name="widget_5" data-label="Страница*"><option value=""> Страница </option><option value="Автосервис"> Автосервис </option><option value="Страхование"> Страхование </option><option value="Строительство"> Строительство </option></select>
          </div>
          <div class="form-group">
                  <select class="input" name="widget_9" data-label="Партнер"><option value=""> Партнер </option><option value="Автосервис"> Автосервис </option><option value="Страхование"> Страхование </option><option value="Строительство"> Строительство </option></select>
          </div>
              </div>
             <div class="col-sm-6">
          <div class="form-group">
                <select class="input" name="widget_8" data-label="Источник"><option value=""> Источник </option><option value="Автосервис"> Автосервис </option><option value="Страхование"> Страхование </option><option value="Строительство"> Строительство </option></select>
          </div>
              </div>

         <table class="table table-hover table-adm-sidebar table-striped table-orders">

                <tbody>

                  <tr>
                    <td>HTTP_REFERER</td>
                    <td>#</td>
                  </tr>
                  <tr>
                    <td>IP</td>
                    <td>#</td>
                  </tr>
                  <tr>
                    <td>URL_PATH</td>
                    <td>#</td>
                  </tr>

                </tbody>
              </table>

             <div class="modal-footer profile-add-adv">
                                <button type="submit" class="btn btn-block btn-primary">Сохранить</button>
                                <button type="button" class="btn btn-outline btn-default" data-dismiss="modal">Отменить</button>
                              </div>








       </div>
     </div>
</div>
</div>
</div>
<!-- End Modal -->

