{% load staticfiles %}
<!-- Modal -->
                        <div class="modal fade serv-edit-sidebar" id="ServAddPositionSidebar" aria-hidden="true" aria-labelledby="examplePositionSidebar" role="dialog" tabindex="-1" >
                          <div class="modal-dialog profile-adv modal-sidebar modal-sm" >
                                  <div class="widget-header height-auto bg-blue-600 vertical-align padding-vertical-20 padding-horizontal-25">
              <blockquote style="border-left:none;    padding: initial;" class=" vertical-align-middle white font-size-20 title-popup"><span class="inputTextTitle"></span><span class="inputTextFrom"></span> <span class="inputTextTo"> </span></blockquote>
            </div>
       <form data-submit="FormPopupAddCompany"  enctype="multipart/form-data" id="FormPopupAddCompany" class="ajaxify-form form_popup_add_company" method="POST" action="{% url 'core:user_company_form_popup_add' %}">
                {% csrf_token %}
                   <div class="widget-body padding-top-0" style="margin-top: -64px">
              <div style="    width: 120px;height: 120px" class="avatar avatar-lg img-bordered bg-white margin-bottom-10">
                <img title="Загрузить фото..." id="outputadd" width="120px" height="120px" src="{% static 'images/none_img.png' %}" alt="">
                  <label class="upload_field">
                <input style="display: none" name="{{ frmpac.image.name }}" type="file" id="screenshot" accept="image/png" onchange="loadFileAdd(event)"/>
                      </label>
              </div>
            </div>


                            <div class="modal-content">
                                <a style="display: block"  type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <i class="icon ion-ios-close-outline" aria-hidden="true"></i>
                                </a>
<div class="modal-body">



                <div class="form-group form-material floating">
                  <input type="text" class="form-control" id="inputTextTitle"  name="{{ frmpac.name.name }}">
                  <label class="floating-label">Название</label>
                </div>

                <div style="width: 50%;float: left;" class="form-group  form-material floating">
                    <div  class="input-group">
                        <div class="form-control-wrap">
                  <input type="text" class="form-control" id="inputTextCost" name="{{ frmpac.price_from.name }}">
                  <label class="floating-label">Цена (от)</label>
                            </div>
                        <span class="input-group-addon">руб.</span>
                   </div>
                </div>
                 <div style="width: 50%;float: left;" class="form-group  form-material floating">
                    <div  class="input-group">
                        <div class="form-control-wrap">
                  <input type="text" class="form-control" id="inputTextCost" name="{{ frmpac.price_to.name }}">
                  <label class="floating-label">Цена (до)</label>
                            </div>
                        <span class="input-group-addon">руб.</span>
                   </div>

                </div>
                <div style="clear:both"></div>


               <div class="form-group form-material floating">
                  <input type="url" class="form-control" name="{{ frmpac.url.name }}">
                  <label class="floating-label">Ссылка</label>
                </div>


                <div class="form-group form-material floating">
                  <textarea class="form-control" id="textarea" name="{{ frmpac.description.name }}" rows="5"></textarea>
                  <label class="floating-label">Описание</label>
                </div>
</div></div>



                              <div class="modal-footer profile-add-adv">
                                <button type="submit" class="btn btn-block btn-primary disabled" disabled="disabled">Добавить</button>
                                <button type="button" class="btn btn-outline btn-default" data-dismiss="modal">Отменить</button>
                              </div>
 </form>

</div>
                          </div>
                        <!-- End Modal -->
<script>
    /* Input image preview */
var loadFileAdd = function(event) {
	var output = document.getElementById('outputadd');
	output.src = URL.createObjectURL(event.target.files[0]);
    console.log(output.src);
};
</script>
