{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js before-run" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="author" content="">


  <title>{% block title %}{% endblock %}</title>

  <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png '%} ">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-extend.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/site.css' %}">
  <link rel="stylesheet" href="{% static 'cabinet/css/style.css' %}">

<link rel="stylesheet" href="{% static 'vendor/summernote/summernote.min.css' %}">

<link rel="stylesheet" href="{% static 'vendor/multi-select/multi-select.min.css' %}">

<link rel="stylesheet" href="{% static 'css/pages/profile.css' %}">
  <!-- <link rel="stylesheet" href="../assets/../skins/red/source.css"> -->
  <link rel="stylesheet" href="{% static 'css/forms/masks.css' %}">

  <link rel="stylesheet" href="{% static 'vendor/animsition/animsition.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/asscrollable/asScrollable.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/switchery/switchery.css'  %}">
  <link rel="stylesheet" href="{% static 'vendor/intro-js/introjs.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/slidepanel/slidePanel.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/flag-icon-css/flag-icon.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/7-stroke/7-stroke.css' %}">

  <!-- Plugin
  <link rel="stylesheet" href="{% static 'vendor/chartist-js/chartist.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/jvectormap/jquery-jvectormap.css' %}">-->
  <link rel="stylesheet" href="{% static 'vendor/filament-tablesaw/tablesaw.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/slidepanel/slidePanel.css' %}">

  <!-- Page -->
  <link rel="stylesheet" href="{% static 'css/dashboard/v1.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-select/bootstrap-select.css' %}">
  <link rel="stylesheet" href="{% static 'css/apps/contacts.min.css' %}">

 <!-- Plugins For This Page -->
  <link rel="stylesheet" href="{% static 'vendor/nprogress/nprogress.css' %}">

  <link rel="stylesheet" href="{% static 'vendor/alertify-js/alertify.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/../fonts/ionicons/ionicons.min.css' %}">
  <!-- Fonts -->
  <link rel="stylesheet" href="{% static 'fonts/brand-icons/brand-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/font-awesome/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/web-icons/web-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/weather-icons/weather-icons.min.css' %}">
<style>
    .alertify {
    font-family: inherit;
    position: fixed;
    background-color: rgba(0,0,0,.6);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 139%;
    height: 100%;
    z-index: 99999;
}
</style>
  <!-- page stat-->
  <link rel="stylesheet" href="{% static 'working/css/widgets/chart.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/chartist-js/chartist.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/gauge-js/gauge.min.css' %}">
  <link rel="stylesheet" href="{% static 'working/css/charts/pie-progress.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/aspieprogress/asPieProgress.min.css' %}">

  <!--[if lt IE 9]>
    <script src="../assets/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->

  <!--[if lt IE 10]>
    <script src="../assets/vendor/media-match/media.match.min.js"></script>
    <script src="../assets/vendor/respond/respond.min.js"></script>
    <![endif]-->

  <!-- Scripts -->
  <script src="{% static 'vendor/modernizr/modernizr.js' %}"></script>
  <script src="{% static 'vendor/breakpoints/breakpoints.js' %}"></script>
  <script>
    Breakpoints();
  </script>

{% load socketio_tags %}
    {% socketio %}
    <script>/*
        var socket = new io.Socket();
        socket.connect();
        // etc*/
    </script>

  <!-- Holderjs -->
  <script src="{% static 'vendor/holderjs/holder.js' %}"></script>
</head>
<body data-auto-menubar="false" class="dashboard {% block body_class %}app-contacts {% endblock %} site-gridmenu-active site-menubar-fold">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <nav class="site-navbar  navbar-mega" style="background-color: inherit;" role="navigation">


    <div class="collapse navbar-collapse navbar-collapse-toolbar"  id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
          <li class="hidden-float" id="toggleMenubar">
            <a class="hamburger-link" data-toggle="menubar" href="#" role="button">
              <i class="icon hamburger hamburger-arrow-left hided">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
            </a>
          </li>
        </ul>

    </div>
  </nav>
  <div class="site-gridmenu administrator-menu site-gridmenu-active">
     <div class="site-navbar "> <div class="navbar-header">
      <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided" data-toggle="menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </button>
      <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
        <i class="icon wb-more-horizontal" aria-hidden="true"></i>
      </button>
      <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-search" data-toggle="collapse">
        <span class="sr-only">Toggle Search</span>
        <i class="icon wb-search" aria-hidden="true"></i>
      </button>
      <div class="navbar-brand navbar-brand-center ">
        <img class="navbar-brand-logo" src="/static/images/logo.png" title="Remark">
        <span class="navbar-brand-text"> Oxiv.ru</span>
      </div>
    </div></div>
    {% include 'administrator/menu.html' %}
  </div>


  <!-- Page -->
  <div class="page">
    <div class="page-header text-center">
      <h1 class="page-title">{% block page_title %}{% endblock %}</h1>
      <ol style="display: none;" class="breadcrumb">
        <li><a href="../index.html">Home</a></li>
        <li><a href="javascript:void(0)">Widgets</a></li>
        <li class="active">Statistics</li>
      </ol>
      <div style="display: none;" class="page-header-actions">
        <button type="button" class="btn btn-sm btn-outline btn-default btn-round">
          <span class="text hidden-xs">Settings</span>
          <i class="icon wb-chevron-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="{% block style_page %}page-content padding-30 container-fluid{% endblock %}" >
        {% block content %}
        {% endblock %}
    </div>
  </div>
  <!-- End Page -->

  <!-- Footer -->
  <!--<footer class="site-footer">
    <span class="site-footer-legal">© 2015 amazingSurge</span>
    <div class="site-footer-actions">
      <a class="icon wb-chevron-up scroll-to-top" href="javascript:void(0)" title="Scoll to top"
      role="button" data-toggle="scroll-top"></a>
    </div>
  </footer>-->

  {% block script %}
  <!-- Core  -->
  <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/bootstrap.js' %}"></script>
  <script src="{% static 'vendor/animsition/jquery.animsition.js' %}"></script>
  <script src="{% static 'vendor/asscroll/jquery-asScroll.js' %}"></script>
  <script src="{% static 'vendor/mousewheel/jquery.mousewheel.js' %}"></script>
  <script src="{% static 'vendor/asscrollable/jquery.asScrollable.all.js' %}"></script>
  <script src="{% static 'vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>

  <!-- Plugins -->
  <script src="{% static 'vendor/switchery/switchery.min.js' %}"></script>
  <script src="{% static 'vendor/intro-js/intro.js' %}"></script>
  <script src="{% static 'vendor/screenfull/screenfull.js' %}"></script>
  <script src="{% static 'vendor/slidepanel/jquery-slidePanel.js' %}"></script>

<script src="{% static 'vendor/multi-select/jquery.multi-select.js' %}"></script>
     <script src="{% static 'vendor/summernote/summernote.min.js' %}"></script>


  <script src="{% static 'vendor/skycons/skycons.js' %}"></script>
  <script src="{% static 'vendor/aspieprogress/jquery-asPieProgress.min.js' %}"></script>
  <script src="{% static 'vendor/jvectormap/jquery-jvectormap.min.js' %}"></script>
  <script src="{% static 'vendor/jvectormap/maps/jquery-jvectormap-ca-lcc-en.js' %}"></script>
  <script src="{% static 'vendor/matchheight/jquery.matchHeight-min.js' %}"></script>
  <script src="{% static 'vendor/alertify-js/alertify.js' %}"></script>
      <script src="{% static 'vendor/bootstrap-select/bootstrap-select.min.js' %}"></script>

<script src="{% static 'vendor/formvalidation/formValidation.min.js' %}"></script>
<script src="{% static 'vendor/formvalidation/framework/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/formatter-js/jquery.formatter.min.js' %}"></script>
      <script src="{% static 'vendor/nprogress/nprogress.js' %}"></script>
      <!--[age stat-->
     <!-- <script src="{% static 'vendor/sparkline/jquery.sparkline.min.js' %}"></script>
     <script src="{% static 'vendor/chartist-js/chartist.min.js' %}"></script>-
      <script src="{% static 'vendor/matchheight/jquery.matchHeight-min.js' %}"></script>
      <script src="{% static 'vendor/gauge-js/gauge.min.js' %}"></script>
      <script src="{% static 'vendor/aspieprogress/jquery-asPieProgress.min.js' %}"></script>-->

  <!-- Scripts -->
  <script src="{% static 'js/core.js' %}"></script>
  <script src="{% static 'js/site.js' %}"></script>

  <script src="{% static 'js/sections/menu.js' %}"></script>
  <script src="{% static 'js/sections/menubar.js' %}"></script>
  <script src="{% static 'js/sections/sidebar.js' %}"></script>
  <script src="{% static 'js/sections/footer.js' %}"></script>

  <script src="{% static 'js/configs/config-colors.js' %}"></script>
  <script src="{% static 'js/configs/config-tour.js' %}"></script>

  <script src="{% static 'js/components/asscrollable.js' %}"></script>
  <script src="{% static 'js/components/animsition.js' %}"></script>
  <script src="{% static 'js/components/slidepanel.js' %}"></script>
  <script src="{% static 'js/components/switchery.js' %}"></script>



  <script src="{% static 'js/components/matchheight.js' %}"></script>
  <script src="{% static 'js/components/jvectormap.js' %}"></script>

  <script src="{% static 'js/components/multi-select.min.js' %}"></script>

  <script src="{% static 'js/components/formatter-js.min.js' %}"></script>

  <script src="{% static 'js/components/material.min.js' %}"></script>

   <script src="{% static 'js/components/summernote.min.js' %}"></script>
   <script src="{% static 'js/components/nprogress.min.js' %}"></script>
   <script src="{% static 'js/components/alertify-js.min.js' %}"></script>

      <!--page stat-->
      <!--<script src="{% static 'working/js/widgets/chart.js' %}"></script>
      <script src="{% static 'js/components/gauge-js.min.js' %}"></script>
      <script src="{% static 'js/components/aspieprogress.min.js' %}"></script>
      <script src="{% static 'working/js/charts/pie-progress.js' %}"></script>-->

      <!-- OXIV ADMIN JAVASCRIPT-->
      <script src="{% static 'cabinet/js/oxiv.js' %}"></script>

<script>
(function(document, window, $) {
  'use strict';

  var Site = window.Site;

  $(document).ready(function($) {
    Site.run();
  });

  window.edit = function() {
    $('.click2edit').summernote({
      focus: true
    });
  };
  window.save = function() {
    $('.click2edit').destroy();
  };
})(document, window, jQuery);
</script>

 <!--page leads-->
   <script src="{% static 'js/plugins/sticky-header.js' %}"></script>
  <script src="{% static 'js/components/aspaginator.js' %}"></script>
  <script src="{% static 'js/apps/app.js' %}"></script>
  <script src="{% static 'js/apps/contacts.js' %}"></script>
     <script>
    (function(document, window, $) {
      'use strict';
      var AppContacts = window.AppContacts;

      $(document).ready(function() {
        AppContacts.run();
      });

        $('.selectpicker').selectpicker({
      size: 6
  });
        //$('.selectpicker').selectpicker('setStyle', 'btn-danger');
        $('.dropdown-menu.inner > li').click(function(){
            var res = $(this).data('originalIndex');
            var id = $(this).parents('.tablesaw-cell-content').find('.selectpicker').attr('id');
            console.log(res, id);
            if(res==0) {
                $('#'+id).selectpicker('setStyle', 'btn-warning btn-success btn-info btn-danger', 'remove');
                $('#'+id).selectpicker('setStyle', 'btn-primary');
            }
            else if(res==1) {
                $('#'+id).selectpicker('setStyle', 'btn-warning btn-success btn-primary btn-danger', 'remove');
                $('#'+id).selectpicker('setStyle', 'btn-info');
            }
            else if(res==2) {
                $('#'+id).selectpicker('setStyle', 'btn-primary btn-success btn-info btn-danger', 'remove');
                $('#'+id).selectpicker('setStyle', 'btn-warning');
            }
            else if(res==3) {
                $('#'+id).selectpicker('setStyle', 'btn-warning btn-primary btn-info btn-danger', 'remove');
                $('#'+id).selectpicker('setStyle', 'btn-success');
            }
            else if(res==4) {
                $('#'+id).selectpicker('setStyle', 'btn-primary btn-success btn-info btn-warning', 'remove');
                $('#'+id).selectpicker('setStyle', 'btn-danger');
            }
         });

    })(document, window, jQuery);
  </script>


<script>
(function() {
    // Start Progress Loader
    NProgress.configure({
        template: '<div class="bar" role="bar"></div><!--<div class="spinner" role="spinner"><div class="spinner-icon"></div></div>-->'
    });
    NProgress.start();


})();
</script>

<script>
/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2015 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */
(function(document, window, $) {
  'use strict';
  var Site = window.Site;
  $(document).ready(function($) {
    Site.run();
  });

  // NProgress done
  // ------------------------
  (function() {
          NProgress.done(true);
  })();

  // Example Validataion Full
  // ------------------------

      // FORM SIDEBAR COMPANY
      // ------------------------
    (function() {
      $('#FormSidebarCompany').formValidation({
        framework: 'bootstrap',
        excluded: ':disabled',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            company_name: {
                validators: {
                    notEmpty: {
                        message: 'Заполните обязательное поле'
                    }
                    /*stringLength: {
                        min: 6,
                        max: 30,
                        message: 'The name must be more than 6 and less than 30 characters long'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_]+$/,
                        message: 'The username can only consist of alphabetical, number and underscore'
                    }*/
                }
            },
            phone: {
                validators: {
                    notEmpty: {
                        message: 'Заполните обязательное поле'
                    },
                    stringLength: {
                        min: 2,
                        max: 30,
                        message:  'Заполните обязательное поле'
                    }/*
                    regexp: {
                        regexp: /^[a-zA-Z0-9_]+$/,
                        message: 'The username can only consist of alphabetical, number and underscore'
                    }*/
                }
            },
           /* site_url: {
                validators: {
                    url: {
                       message: 'URL-адрес не является  действительным'
                    }
                }
            }*/
        }
      });
    })();

     // FORM POPUP ADD COMPANY
      // ------------------------
    (function() {
      $('#FormPopupAddCompany').formValidation({
        framework: 'bootstrap',
        excluded: ':disabled',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: 'Заполните обязательное поле'
                    }
                    /*stringLength: {
                        min: 6,
                        max: 30,
                        message: 'The name must be more than 6 and less than 30 characters long'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_]+$/,
                        message: 'The username can only consist of alphabetical, number and underscore'
                    }*/
                }
            },
            price_from: {
                validators: {
                    notEmpty: {
                        message: 'Заполните обязательное поле'
                    },
                    regexp: {
                        regexp: /^[0-9_]+$/,
                        message: 'Введите цифры'
                    }
                }
            },
            price_to: {
                validators: {
                    notEmpty: {
                        message: 'Заполните обязательное поле'
                    },
                    regexp: {
                        regexp: /^[0-9_]+$/,
                        message: 'Введите цифры'
                    }
                }
            }
        }
      }).on('success.form.fv', function(e) {
            // Prevent form submission
            e.preventDefault();
        });
    });
    // FORM POPUP EDIT COMPANY
      // ------------------------
    (function() {
      $('#FormPopupEditCompany').formValidation({
        framework: 'bootstrap',
        excluded: ':disabled',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: 'Заполните обязательное поле'
                    }
                    /*stringLength: {
                        min: 6,
                        max: 30,
                        message: 'The name must be more than 6 and less than 30 characters long'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_]+$/,
                        message: 'The username can only consist of alphabetical, number and underscore'
                    }*/
                }
            },
            price_from: {
                validators: {
                    notEmpty: {
                        message: 'Заполните обязательное поле'
                    },
                    regexp: {
                        regexp: /^[0-9_]+$/,
                        message: 'Введите цифры'
                    }
                }
            },
            price_to: {
                validators: {
                    notEmpty: {
                        message: 'Заполните обязательное поле'
                    },
                    regexp: {
                        regexp: /^[0-9_]+$/,
                        message: 'Введите цифры'
                    }
                }
            }
        }
      }).on('success.form.fv', function(e) {
            // Prevent form submission
            e.preventDefault();
        });
    })
();


    (function() {
    $('#exampleFullForm').formValidation({
      framework: "bootstrap",
      button: {
        selector: '#validateButton1',
        disabled: 'disabled'
      },
      icon: null,
      fields: {
        username: {
          validators: {
            notEmpty: {
              message: 'The username is required'
            },
            stringLength: {
              min: 6,
              max: 30
            },
            regexp: {
              regexp: /^[a-zA-Z0-9]+$/
            }
          }
        },
        email: {
          validators: {
            notEmpty: {
              message: 'The username is required'
            },
            emailAddress: {
              message: 'The email address is not valid'
            }
          }
        },
        password: {
          validators: {
            notEmpty: {
              message: 'The password is required'
            },
            stringLength: {
              min: 8
            }
          }
        },
        birthday: {
          validators: {
            notEmpty: {
              message: 'The birthday is required'
            },
            date: {
              format: 'YYYY/MM/DD'
            }
          }
        },
        github: {
          validators: {
            url: {
              message: 'The url is not valid'
            }
          }
        },
        skills: {
          validators: {
            notEmpty: {
              message: 'The skills is required'
            },
            stringLength: {
              max: 300
            }
          }
        },
        porto_is: {
          validators: {
            notEmpty: {
              message: 'Please specify at least one'
            }
          }
        },
        'for[]': {
          validators: {
            notEmpty: {
              message: 'Please specify at least one'
            }
          }
        },
        company: {
          validators: {
            notEmpty: {
              message: 'Please company'
            }
          }
        },
        browsers: {
          validators: {
            notEmpty: {
              message: 'Please specify at least one browser you use daily for development'
            }
          }
        }
      }
    });
  })();

  // Example Validataion Constraints
  // -------------------------------
  (function() {
    $('#PaymentBalance, #exampleConstraintsFormTypes').formValidation({
      framework: "bootstrap",
      icon: null,
      fields: {
        type_email: {
          validators: {
            emailAddress: {
              message: 'The email address is not valid'
            }
          }
        },
        type_url: {
          validators: {
            url: {
              message: 'The url is not valid'
            }
          }
        },
        type_digits: {
          validators: {
            digits: {
              message: 'The value is not digits'
            }
          }
        },
        type_numberic: {
          validators: {
            integer: {
              message: 'The value is not an number'
            }
          }
        },
        type_phone: {
          validators: {
            phone: {
              message: 'The value is not an phone(US)'
            }
          }
        },
        type_credit_card: {
          validators: {
            creditCard: {
              message: 'The credit card number is not valid'
            }
          }
        },
        type_date: {
          validators: {
            date: {
              format: 'YYYY/MM/DD'
            }
          }
        },
        type_color: {
          validators: {
            color: {
              type: ['hex', 'hsl', 'hsla', 'keyword', 'rgb', 'rgba'], // The default value for type
              message: 'The value is not valid color'
            }
          }
        },
        type_ip: {
          validators: {
            ip: {
              ipv4: true,
              ipv6: true,
              message: 'The value is not valid ip(v4 or v6)'
            }
          }
        }
      }
    });
  })();

  // Example Validataion Standard Mode
  // ---------------------------------
  (function() {
    $('#exampleStandardForm').formValidation({
      framework: "bootstrap",
      button: {
        selector: '#validateButton2',
        disabled: 'disabled'
      },
      icon: null,
      fields: {
        standard_fullName: {
          validators: {
            notEmpty: {
              message: 'The full name is required and cannot be empty'
            }
          }
        },
        standard_email: {
          validators: {
            notEmpty: {
              message: 'The email address is required and cannot be empty'
            },
            emailAddress: {
              message: 'The email address is not valid'
            }
          }
        },
        standard_content: {
          validators: {
            notEmpty: {
              message: 'The content is required and cannot be empty'
            },
            stringLength: {
              max: 500,
              message: 'The content must be less than 500 characters long'
            }
          }
        }
      }
    });
  })();

  // Example Validataion Summary Mode
  // -------------------------------
  (function() {
    $('.summary-errors').hide();

    $('#exampleSummaryForm').formValidation({
      framework: "bootstrap",
      button: {
        selector: '#validateButton3',
        disabled: 'disabled'
      },
      icon: null,
      fields: {
        summary_fullName: {
          validators: {
            notEmpty: {
              message: 'The full name is required and cannot be empty'
            }
          }
        },
        summary_email: {
          validators: {
            notEmpty: {
              message: 'The email address is required and cannot be empty'
            },
            emailAddress: {
              message: 'The email address is not valid'
            }
          }
        },
        summary_content: {
          validators: {
            notEmpty: {
              message: 'The content is required and cannot be empty'
            },
            stringLength: {
              max: 500,
              message: 'The content must be less than 500 characters long'
            }
          }
        }
      }
    })

    .on('success.form.fv', function(e) {
      // Reset the message element when the form is valid
      $('.summary-errors').html('');
    })

    .on('err.field.fv', function(e, data) {
      // data.fv     --> The FormValidation instance
      // data.field  --> The field name
      // data.element --> The field element
      $('.summary-errors').show();

      // Get the messages of field
      var messages = data.fv.getMessages(data.element);

      // Remove the field messages if they're already available
      $('.summary-errors').find('li[data-field="' + data.field + '"]').remove();

      // Loop over the messages
      for (var i in messages) {
        // Create new 'li' element to show the message
        $('<li/>')
          .attr('data-field', data.field)
          .wrapInner(
            $('<a/>')
            .attr('href', 'javascript: void(0);')
            // .addClass('alert alert-danger alert-dismissible')
            .html(messages[i])
            .on('click', function(e) {
              // Focus on the invalid field
              data.element.focus();
            })
          ).appendTo('.summary-errors > ul');
      }

      // Hide the default message
      // $field.data('fv.messages') returns the default element containing the messages
      data.element
        .data('fv.messages')
        .find('.help-block[data-fv-for="' + data.field + '"]')
        .hide();
    })

    .on('success.field.fv', function(e, data) {
      // Remove the field messages
      $('.summary-errors > ul').find('li[data-field="' + data.field + '"]').remove();
      if ($('#exampleSummaryForm').data('formValidation').isValid()) {
        $('.summary-errors').hide();
      }
    });
  })();
})(document, window, jQuery);
</script>

<script>
    (function(document, window, $) {
      'use strict';
      var Site = window.Site;
      $(document).ready(function($) {
        Site.run();
      });

      // Example Multi-Select
      // --------------------
      (function() {
        // for multi-select public methods example
        $('.multi-select-methods').multiSelect();
        $('#buttonSelectAll').click(function() {
          $('.multi-select-methods').multiSelect('select_all');
          return false;
        });
        $('#buttonDeselectAll').click(function() {
          $('.multi-select-methods').multiSelect('deselect_all');
          return false;
        });
        $('#buttonSelectSome').click(function() {
          $('.multi-select-methods').multiSelect('select', ['Idaho',
            'Montana', 'Arkansas'
          ]);
          return false;
        });
        $('#buttonDeselectSome').click(function() {
          $('.multi-select-methods').multiSelect('select', ['Idaho',
            'Montana', 'Arkansas'
          ]);
          return false;
        });
        $('#buttonRefresh').on('click', function() {
          $('.multi-select-methods').multiSelect('refresh');
          return false;
        });
        $('#buttonAdd').on('click', function() {
          $('.multi-select-methods').multiSelect('addOption', {
            value: 42,
            text: 'test 42',
            index: 0
          });
          return false;
        });
      })();

    })(document, window, jQuery);
  </script>
<!--page user setings-->
   <script>
$(document).ready(function(){
    $('.ms-selectable').prepend('<p class="topics_h">Список</p>');
    $('.ms-selection').prepend('<p class="topics_h">Выбранные</p>')
});

   </script>

 <script>
$(document).ready(function() {

    $('.btn-profile-edit').click(function () {
        $('.profile-form-content').toggleClass('active');
        $('.profile-form-edit').css({'margin-bottom': '0px'}).toggleClass('active');
    });

});

   </script>




  {% endblock %}
{% block script_bottom %}

{% endblock %}


</body>

</html>